body {
  background-color: #F0EBE3;
}


h1 {
  color: #576F72;
  font-family: fantasy;
}
h3 {
  color: #7D9D9C;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}
